body {
    background: url('../assets/images/lax-helmet.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    clear:both;
}

.navbar {
    background-color: #C6AD8F;
}

.nav-item {
    position:relative;
    text-align: justify;
    font-size: large;
    
    
}

.jumbatron {
    background-color: #425664;
    border-radius: 50px;
    margin-top: 100px;

}

.members-container {
    background-color: #425664;
    color: #F6F4F2;
    opacity: 0.9;
    
    
}
.features {
    color: #F6F4F2;
}
.feature {
    background-color: #425664;
    text-align: center;
    padding: 10px;
}

.nav-fill {
    width: 100%;

}
.result {
    background-color: #C6AD8F;
    border-radius: 50px;
}

.footer-container {
    background-color: #C6AD8F;
    
}

/*------------------gallery*/

#photo {
    clear:both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photo img {
    width: 100%;
}

@media screen and (max-width: 943px){
    #photo {
        column-count: 3;
    }
}

@media screen and (max-width: 800px){
    #photo {
        column-count: 2;
    }
}

/*--------Contact---*/

.contact-container {
    background-color: #425664;
    color: #F6F4F2;
    margin-top: 100px;
    padding: 10px;
    
}

.form-btn {
    background-color: #425664;
    color: #F6F4F2;

}