body {
    background: url('../assets/images/lax-helmet-web.webp') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    clear:both;

}

.navbar {
    background-color: #af8c62;
    
}

.nav-item {
    position:relative;
    text-align: justify;
    font-size: large;
    color:black;
    
    
    
}

.jumbatron {
    background-color: #2a3740;
    color:white;
    border-radius: 50px;
    margin-top: 60px;
    margin-bottom: 40px;

}

.members-container {
    background-color: #2a3740;
    color: #F6F4F2;
    opacity: 0.9;
    border: 5px solid rgba(18, 145, 177, 0.37);
    
       
}

.members-container:hover {
    background-color:darkgrey;
    color:black;
    opacity: 0.9;
       
}
.features {
    color: #F6F4F2;
}
.feature {
    background-color: #2a3840;
    text-align: center;
    padding: 10px;
    opacity: 0.9;
    border: 5px solid rgba(18, 145, 177, 0.37);
    
}

.inline {
    margin-bottom: 20px;
}

.feature:hover {
    background-color:darkgrey;
    color:black;
    text-align: center;
    padding: 10px;
    opacity: 0.9;
}
.nav-fill {
    width: 100%;

}
.result {
    background-color: #2a3740;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    

}

.footer-container {
    background-color: #af8c62;
    
}

/*------------------gallery*/

#photo {
    clear:both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photo img {
    width: 100%;
}

@media screen and (max-width: 943px){
    #photo {
        column-count: 3;
    }
}

@media screen and (max-width: 800px){
    #photo {
        column-count: 2;
    }
}

/*--------Contact---*/

.contact-container {
    background-color: #2a3740;
    color: #F6F4F2;
    margin-top: 100px;
    padding: 10px;
    opacity: 0.9;
    
}

.form-btn {
    background-color: #2a3740;
    color: #F6F4F2;

}

/*------------Gear----*/

.img-fluid {
    height: 118px;
}