@import url('https://fonts.googleapis.com/css2?family=Montserrat:100,200,300,400,500,600|Merriweather:100,200,300,400,500,600');


*{
    margin: 0;
    padding: 0;
    border: 0;
}
header {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    padding-top: 0;
    margin: 0;

}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/lax-helmet.jpg") no-repeat center;


}

h2 {
    font-family: Monserrat;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.homefont {
    font-family: Merriweather;
    font-size: 25px;
    text-decoration: none;
}

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}